<ion-header>
  <ion-toolbar>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nutzernamen wählen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nutzername</ion-label>
        <br>
        <ion-input [(ngModel)]="username" placeholder="Dein Name"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="saveUsername()">Speichern</ion-button>
      <ion-text *ngIf="errorMessage" color="danger">{{ errorMessage }}</ion-text>
      <ion-text *ngIf="successMessage" color="success">{{ successMessage }}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
