<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-label>
        <h3>{{ message.author }}</h3>
        <p>{{ message.text }}</p>

      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">Neue Nachricht</ion-label> <br>
    <ion-input [(ngModel)]="newMessage" placeholder="Schreib etwas..." type="text"></ion-input>
  </ion-item>

  <!-- Button zum Senden der Nachricht -->
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" (click)="sendMessage()">Senden</ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-content>
