<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="eingang">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Eingang</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="todo">
      <ion-icon name="checkmark-done"></ion-icon>
      <ion-label>Todo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="delegieren">
      <ion-icon name="people"></ion-icon>
      <ion-label>Delegieren</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="einstellungen">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Einstellungen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

